version: '3.8'

services:
  # Основная БД (Пользователи, ключи, сообщения)
  postgres:
    image: postgres:16-alpine
    container_name: securemesh_db
    restart: always
    environment:
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
      POSTGRES_DB: ${DB_NAME}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # Кэш и Pub/Sub для WebSocket
  redis:
    image: redis:7-alpine
    container_name: securemesh_redis
    restart: always
    ports:
      - "6380:6379"
    command: redis-server --save 60 1 --loglevel warning
    volumes:
      - redis_data:/data

  # Файловое хранилище (S3 compatible)
  minio:
    image: minio/minio
    container_name: securemesh_minio
    restart: always
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ROOT_USER}
      MINIO_ROOT_PASSWORD: ${MINIO_ROOT_PASSWORD}
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data

volumes:
  postgres_data:
  redis_data:
  minio_data:
